<table style="width:100%;" cellspacing="0" cellpadding="0">
    <tr>

        <td style="width:15%; border: none;">
            <a href={{ include.certificateLink }}>
                <img src={{ include.imageSource }} alt="image-link">
            </a>
        </td>
        <td style="width:85%; border: none;">
            <div class="container" style="margin-left: 0%; padding-left: 0%;">
                <a href={{ include.certificateLink }} style="display:block">
                    <h3 class="card-title" style="margin-bottom: 0px;">
                        {{ include.title }}
                    </h3>
                </a>
                <h5 class="card-subtitle" style="margin-bottom: 0px;">
                    {{ include.subtitle }}
                </h5>
            </div>
        </td>

    </tr>

</table>